{% extends "basic.html" %}
{% block title%}Home{% endblock %}
{% block body %}
Search some literature:
<form action="/search_result">
  <label for="search_query">Query:</label>
  <input type="text" id="search_query" name="search_query">
  <input type="radio" id="html" name="output_format" value="html"> 
  <label for="html" >HTML</label><br>
  <input type="radio" id="markdown" name="output_format" value="markdown"> 
  <label for="markdown" >Markdown</label><br>
  <input type="radio" id="pdf" name="output_format" value="pdf"> 
  <label for="pdf" >PDF</label><br>
</form>

{% endblock %}
